* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin: 20px 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.grid {
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid black;
    height: 575px;
    width: 575px;
    background-color: gray;
    box-shadow: 10px 10px 5px grey;
    border-radius: 5px;
}

.cell {
    border: 1px solid black;
    background: white
}

.sliderAndValue {
    display: flex;
    align-items: center;
    gap: 5px
    
}
#slider{
    -webkit-appearance: none;
    background: black;
    outline: none;
    border-radius: 50px;
    border: 2px solid black
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    width: 25px; 
    height: 25px; 
    background: white; 
    border-radius: 50px;
}

#slider::-moz-range-thumb{
    width: 25px; 
    height: 25px; 
    background: white; 
    border-radius: 50px;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px 0;

}

button {
    padding: 8px 15px;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    border: 3px solid black;
}
#rgb {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    color: white;
}   
#black {
    color: white;
    background-color: black;
}
.footer {
    margin-top: auto;
}